body {
    background-color: lightblue;
}

h1 {
    border: 1px solid rgb(22, 22, 105);
    width: 100px;
    text-align: center;  
}

#background-color {
    background-color: lightcoral;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}

.a {
    padding: 5px 40px;
}

.b {
    padding: 5px 40px;
}

body {
    margin: 50px 500px;
}